 label {
   font-weight: 400;
 }

 #remember-yes:checked+label,
 #remember-no:checked +label {
   font-weight: 700;
 }

 /* other way to do it:
 input[type="checkbox"]:checked + .remember-option {
   font-weight: 700;
 }   */

 #name-label:hover {
   color: purple;
 }

 #age-input:focus {
   background-color: yellow;
 }

 * {
   margin: 5px;
 }