#catalog-section {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 16px;
}

.catalog {
    width: 800px;
}

#header-row {
    background-color: blueviolet;
}

#header-row .cell {
    text-align: center;
}

.row {
    display: flex;
}

.cell {
    flex: 1 1 0;
    /* flex-grow: 1 (share available space equally)
                      flex-shrink: 1 (shrink when needed)
                      flex-basis: 0 (ignore content width when distributing space) */

    min-width: 0;
    /* prevents long content from forcing the column to become wider */
    padding: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 60px;
    height: 60px;
}

.in-stock {
    color: green;
}

.out-stock {
    color: red;
}